__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*htmlcov/
*.log
*.pot
*.pytx
*instance/
*.sqlite3
*.swp
.DS_Store
mlops-exercise-env/
data/
models/
junit/
.coverage
=
